@model AccountChangePasswordViewModel
@{
    ViewBag.Title = "修改密码";
}

<div class="container-fluid" style="padding-top: 12px;">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                <div style="border-top:1px solid #CCCCCC">
                    <div class="widget-body">
                        <form class="form-horizontal" action="@Url.Action("ChangePassword")" method="post" enctype="multipart/form-data">
                            <fieldset>
                                <div class="form-group">
                                    @Html.LabelFor(e => e.OldPwd, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                            @Html.PasswordFor(e => e.OldPwd, new { @class = "form-control input-lg", placeholder = "请输入旧密码" })
                                        </div>
                                        @Html.ValidationMessageFor(e => e.OldPwd)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(e => e.NewPwd, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                            @Html.PasswordFor(e => e.NewPwd, new { @class = "form-control input-lg", placeholder = "请输入新密码" })
                                        </div>
                                        @Html.ValidationMessageFor(e => e.NewPwd)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(e => e.ConfirmPwd, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                            @Html.PasswordFor(e => e.ConfirmPwd, new { @class = "form-control input-lg", placeholder = "请输入确认密码" })
                                        </div>
                                        @Html.ValidationMessageFor(e => e.ConfirmPwd)
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-10  col-xs-12">
                                            @Html.HiddenFor(e=>e.AccountId)
                                            <button class="btn btn-lg btn-block" type="submit">
                                                修改
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>

