@{
    ViewBag.Title = "个人设置";
}
<style>
    .container-fluid > .row article > .row {
        padding: 10px;
        border-bottom: 1px solid #808080;
    }

        .container-fluid > .row article > .row a {
            color: black;
        }
</style>
<div class="container-fluid" style="padding-top: 12px;">
    <div class="row" style="background-color: #fff;">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-xs-2"><i class="fa fa-credit-card"></i></div>
                <div class="col-xs-10">
                    <div class="row">
                        <a class="col-xs-10" href="@Url.Action("Index","Bank")">我的银行卡</a>
                        <i class="col-xs-2 fa fa-angle-right"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2"><i class="fa fa-usd"></i></div>
                <div class="col-xs-10">
                    <div class="row">
                        <a class="col-xs-10" href="#">充值</a>
                        <i class="col-xs-2 fa fa-angle-right"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2"><i class="fa fa-money"></i></div>
                <div class="col-xs-10">
                    <div class="row">
                        <a class="col-xs-10" href="@Url.Action("Index", "Withdrawals")">提现</a>
                        <i class="col-xs-2 fa fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div style="height:10px"></div>
    <div class="row" style="background-color: #fff;">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-xs-2"><i class="fa fa-file-text-o"></i></div>
                <div class="col-xs-10">
                    <div class="row">
                        <a class="col-xs-10" href="@Url.Action("ModifyInfo")">个人信息</a>
                        <i class="col-xs-2 fa fa-angle-right"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2"><i class="fa fa-file-text-o"></i></div>
                <div class="col-xs-10">
                    <div class="row">
                        <a class="col-xs-10" href="@Url.Action("Tradelogs")">交易订单</a>
                        <i class="col-xs-2 fa fa-angle-right"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2"><i class="fa fa-map-marker"></i></div>
                <div class="col-xs-10">
                    <div class="row">
                        <a class="col-xs-10" href="@Url.Action("Index","Address")">我的地址</a>
                        <i class="col-xs-2 fa fa-angle-right"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2"><i class="fa fa-lock"></i></div>
                <div class="col-xs-10">
                    <div class="row">
                        <a class="col-xs-10" href="@Url.Action("ChangePassword")">修改密码</a>
                        <i class="col-xs-2 fa fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div style="height:10px"></div>
    <div class="row" style="background-color: #fff;">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-xs-2"><i class="fa fa-comments"></i></div>
                <div class="col-xs-10">
                    <div class="row">
                        <a class="col-xs-10" href="#">关于我们</a>
                        <i class="col-xs-2 fa fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div style="height:10px"></div>
    <div class="row">
        <div style="padding:10px">
            <a href="@Url.Action("Logout", "Account")" class="logout btn btn-lg btn-block" title="欢迎您">退出当前账号</a>
        </div>

    </div>
</div>
