@model UserViewModel

@{
    ViewBag.Title = "编辑用户";
    //Html.EnableClientValidation();
    //Html.EnableUnobtrusiveJavaScript();
}

<div id="content">
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                        <h2>编辑用户</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form class="form-horizontal" action="@Url.Action("Modify")" method="post" enctype="multipart/form-data">
                                <fieldset>
                                    <div class="form-group">
                                        @Html.LabelFor(e => e.UserName, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                @Html.TextBoxFor(e => e.UserName, new { @class = "form-control", placeholder = "请输入用户名" })
                                            </div>
                                            @Html.ValidationMessageFor(e => e.UserName)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(e => e.PhoneNumber, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                                @Html.TextBoxFor(e => e.PhoneNumber, new { @class = "form-control", placeholder = "请输入联系方式" })
                                            </div>

                                            @Html.ValidationMessageFor(e => e.PhoneNumber)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(e => e.AuthorityUrl, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-header"></i></span>
                                                @Html.TextBoxFor(e => e.AuthorityUrl, new { @class = "form-control", placeholder = "请选择头像", type = "file" })
                                            </div>

                                            @Html.ValidationMessageFor(e => e.AuthorityUrl)
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="hidden" name="ReturnUlr" value="@ViewBag.Url" />
                                            @Html.HiddenFor(e => e.Id)
                                            @Html.HiddenFor(e => e.AuthorityUrl)
                                            @Html.HiddenFor(e => e.Password)
                                            @Html.HiddenFor(e => e.CreateDateTime)
                                            @Html.HiddenFor(e => e.LastLoginDateTime)
                                            @Html.HiddenFor(e => e.LoginErrorCount)
                                            @Html.HiddenFor(e => e.Email)
                                            <a href="@Url.Action("Index")" class="btn btn-default" type="reset">取消</a>
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-save"></i>
                                                保存
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
            </article>
        </div>

    </section>
    <!-- end widget grid -->
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    确认头像是否可用
                </h4>
            </div>
            <div class="modal-body no-padding">
                <form id="login-form" class="smart-form" style="text-align:center">
                    <img id="imgheader" src="@Model.AuthorityUrl" alt="头像" style="padding:5px;border:none;max-width:400px" />
                    <footer>
                        <button type="button" class="btn btn-success" data-dismiss="modal">
                            可用
                        </button>
                    </footer>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

@section pagespecific{
    <script>
        $(function () {
            $("#AuthorityUrl[type='file']").change(function () {
                var file = this.files[0];
                if (FileReader) {
                    var reader = new FileReader();
                    reader.onload = function (event) {
                        $("#imgheader").attr("src", event.target.result);
                        console.log(event.target.result);
                    }
                    reader.readAsDataURL(file);
                }
                $("#myModal").modal("toggle");
            });

        });
    </script>
}