@model SystemSettingsViewModel

@{
    ViewBag.Title = "添加系统设置";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-pencil-square-o fa-fw "></i>
                系统设置
                <span>
                    >
                    添加
                </span>
            </h1>
        </div>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-cog"></i> </span>
                        <h2>系统设置</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form class="form-horizontal" action="@Url.Action("Add")" method="post" enctype="multipart/form-data">
                                <fieldset>
                                    <div class="form-group">
                                        @Html.LabelFor(e => e.Key, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                                @Html.TextBoxFor(e => e.Key, new { @class = "form-control", placeholder = "请输入key" })
                                            </div>
                                            @Html.ValidationMessageFor(e => e.Key)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(e => e.Info, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextAreaFor(e => e.Info, new { @class = "form-control", placeholder = "请输入内容", rows = "5" })

                                            @Html.ValidationMessageFor(e => e.Info)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(e => e.Description, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextAreaFor(e => e.Description, new { @class = "form-control", placeholder = "请输入Key值描述", rows = "2" })

                                            @Html.ValidationMessageFor(e => e.Description)
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="hidden" name="ReturnUlr" value="@ViewBag.Url" />
                                            <a href="@Url.Action("Index")" class="btn btn-default" type="reset">取消</a>
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-save"></i>
                                                保存
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
            </article>
        </div>

    </section>
    <!-- end widget grid -->
</div>
