@model PagedList.IPagedList<Btcamp.Gold.Core.Entitys.SystemSettings>


@{
    ViewBag.Title = "系统设置";
}
<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-key"></i> </span>
                        <h2>系统设置</h2>
                    </header>
                    <!-- widget div-->
                    <div role="content">
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="dataTables_wrapper form-inline no-footer">
                                <div class="dt-toolbar">
                                    <div class="col-xs-12 col-sm-6">
                                        <div id="dt_basic_filter" class="dataTables_filter">
                                            <label>
                                                <a href="@Url.Action("Add")" class="btn btn-success">
                                                    <i class="fa fa-plus"></i> 添加
                                                </a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <table id="datatable" class="table table-striped table-bordered table-hover dataTable no-footer">
                                    <thead>
                                        <tr style="cursor:pointer">
                                            <th>
                                                <i class="fa fa-square-o"></i>
                                            </th>
                                            <th>编号</th>
                                            <th>key</th>
                                            <th>内容</th>
                                            <th>操作人</th>
                                            <th>Key描述</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int index = 1;
                                            foreach (Btcamp.Gold.Core.Entitys.SystemSettings item in Model.ToList())
                                            {
                                                <tr style="cursor:pointer" data-id="@item.Id">
                                                    <td>
                                                        <i class="fa fa fa-square-o"></i>
                                                        <input type="hidden" name="name" value="@item.Id" />
                                                    </td>
                                                    <td>@index</td>
                                                    <td>@item.Key</td>
                                                    <td>@(item.Info.Length > 50 ? item.Info.Substring(0, 50) + "..." : item.Info)</td>
                                                    <td>@item.OperationUser</td>
                                                    <td>@item.Description</td>
                                                    <td>
                                                        <a href="@Url.Action("Modify", new { Id = item.Id })" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i>&nbsp;编辑</a>&nbsp;
                                                        <a href="@Url.Action("Del", new { Id = item.Id })" class="btn btn-danger btn-xs oper"><i class="fa  fa-times"></i>&nbsp;删除</a>&nbsp;
                                                    </td>
                                                </tr>
                                                index++;
                                            }
                                        }
                                    </tbody>
                                </table>
                                @{
                                    if (Model.Count > 0)
                                    {
                                        <div class="dt-toolbar-footer">
                                            @Html.Partial("Page", Model)
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
            </article>
        </div>

    </section>
</div>


@section pagespecific{
    <script>
        $(function () {
            $(".oper").click(function () {
                ajaxSubmit($(this).attr("href"), null, null);
                return false;
            });
            $("#datatable tbody tr").click(function () {
                var $this = $(this);
                var cls = $this.attr("class");
                if (cls != undefined && cls.indexOf("success") >= 0) {
                    $this.removeClass("success");
                    $this.find("td:first i").removeClass("fa-check-square-o").addClass("fa-square-o");
                } else {
                    var $siblings = $this.siblings();
                    $this.addClass("success");
                    $this.find("td:first i").removeClass("fa-square-o").addClass("fa-check-square-o");
                    $siblings.removeClass("success");
                    $siblings.find("td:first i").removeClass("fa-check-square-o").addClass("fa-square-o");
                }
            });
        });
    </script>
}