@model ChangePasswordViewModel

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    <img src="/content/img/logo.png" width="150" alt="黄金罗盘">
                </h4>
            </div>
            <div class="modal-body no-padding">
                <form id="login-form" method="post" action="@Url.Action("ChangePassword")" class="smart-form">
                    <fieldset>
                        <section>
                            <div class="row">
                                <label class="label col col-2">姓名</label>
                                <div class="col col-10">
                                    <label class="input">
                                        <i class="icon-append fa fa-user"></i>
                                        <input type="text" name="name" id="userName" value="" disabled="disabled" readonly="readonly" />
                                    </label>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="row">
                                @Html.LabelFor(m => m.Password, new { @class = "label col col-2" })
                                <div class="col col-10">
                                    <label class="input">
                                        <i class="icon-append fa fa-lock"></i>
                                        @Html.EditorFor(m => m.Password)
                                        @Html.ValidationMessageFor(m => m.Password)
                                    </label>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="row">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "label col col-2" })
                                <div class="col col-10">
                                    <label class="input">
                                        <i class="icon-append fa fa-lock"></i>
                                        @Html.EditorFor(m => m.ConfirmPassword)
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                    </label>
                                </div>
                            </div>
                        </section>
                    </fieldset>
                    <footer>
                        <input type="hidden" name="Id" value="" id="Id" />
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            保存
                        </button>
                        <a href="@Url.Action("Index")" class="btn btn-default" type="reset">取消</a>
                    </footer>
                </form>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>